.container {
    padding: 5px;
}

.navbar {
    color: #fff;
    background-color: #2F4858;
    position: fixed;
    width: 100%;
    height: 35px;
    top: 0;
    left: 0;
}

.active {
    background-color: #00CA6A;
}

.flex-grid {
    min-height: 375px;
    color: #000;
    /* border: 5px solid rgb(111,41,97); */
    display: flex;
    align-items: center;
}

.col-thirds {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 33.33%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

.title-box{
    /* margin-left: 25px; */
    align-self: flex-start;
    margin: auto;
    
}

.quote-box {
    grid-area: quote;
    font-family: "Lucida Console";
    color: #000;
    font-size: 20px;
    
}

.beer-card {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

.box_1 {
    margin-left: 15px;
    margin-right: 15px;
  }

.box_2 {
    margin-left: 15px;
    margin-right: 15px;
}

.box_3 {
    margin-left: 15px;
    margin-right: 15px;
}

.grey-box {
    color: #495057;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    }


.footer {
    font-size: 12px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 20px;
}

.logo-thumb {
    max-width: 50px;
    max-height: 50px;
}


@media (max-width: 800px) {
    .flex-grid {
        background-color: blue;
        display: block;
        
        
    }
    .col-thirds {
        width: 100%;
    }
}


body {
    margin-top: 45px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #000;
    background: #F3F1E0;
    /* background-image: url("https://cdn.pixabay.com/photo/2013/10/23/09/04/beer-199650_960_720.jpg"); */
    /* background-repeat: no-repeat; */
}

h1 {
    font-size: calc(1.525rem + 3.3vw);
}

.leader-text {
    font-size: calc(1.275rem + .3vw);
    font-weight: 400;
    color: #495057;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 5px 5px;
        text-decoration: none;
        border-radius: 2px;
        /*transition: 2s; */
    }

        li a:hover {
            background-color: #006883;
            
            transition: 0.25s;
        }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-left-buttons {
    text-align: left;
    vertical-align: middle;
}

#nav-right-buttons {
    text-align: right;
    vertical-align: middle;
}


