.container {
    /*border-style: solid;
    border-color: black;
    border-width: 1px; */
    padding: 5px;
}

.navbar {
    color: #fff;
    background-color: #96688e;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}

.active {
    background-color: #f7b32b;
}

.flex-grid {
    min-height: 450px;
    color: #000;
    border-color: black;
    border-width: 1;
    display: flex;
}

.col {
    flex: 1;
    width: 32%;
}

.row {

}

.title-box{
    margin-left: 25px;
    text-align: start;
    grid-area: title;
}

.quote-box {
    grid-area: quote;
    font-family: "Lucida Console";
    color: #000;
    font-size: 20px;
    /* background: #fcf6b1; */
    text-align: center;
    align-self: center;
}

.box_1 {
    margin-left: 20px;
    margin-right: 20px;
}

.box_2 {
    margin-left: 20px;
    margin-right: 20px;
}

.box_3 {
    margin-left: 20px;
    margin-right: 20px;
}

.grey-box {
    color: #495057;
    background-color: grey;
    border-radius: 5px 5px 5px 5px;
    }


.footer {
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}


@media (max-width: 800px) {
    .flex-grid {
        background-color: blue;
        display: block;
        width: 100%;
        flex: 3;
    }
}


body {
    margin-top: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #000;
    background: #fff;
    /* background-image: url("https://cdn.pixabay.com/photo/2013/10/23/09/04/beer-199650_960_720.jpg"); */
    /* background-repeat: no-repeat; */
}

h1 {
    font-size: calc(1.525rem + 3.3vw);
}

.leader-text {
    font-size: calc(1.275rem + .3vw);
    font-weight: 400;
    color: #495057;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 2px;
        /*transition: 2s; */
    }

li a:hover {
    background-color: #fcf6b1;
    color: #000;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-left-buttons {
    text-align: left;
    vertical-align: middle;
}

#nav-right-buttons {
    text-align: right;
    vertical-align: middle;
}

#main-box {
    /*display: block;*/
    top: 0;
    height: 250px;
}


